.container{
    flex:auto;
    padding:0;
}
.footer{
    border:2px red solid;
    height:10vh;
    flex: 0 0 baseline;
}

body{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    font-family: 'Roboto';
}
/*First Container Code*/
.container.one{
    background-color:#1F2937;
    display:flex;
    flex-direction:column;
}
.header.container{
    margin-left:24vh;
    margin-right:24vh;
    flex:auto;
    padding:0;
    display:flex;
    justify-content:space-between;
}
.header.logo{
    color:#f9faf8;
    font-size:24px;
    font-weight:1200px;
}
.header.links{
    display:flex;
    color: #e5e7eb;
    font-size:18px;
    gap:20px;
}
.content.container{
    margin-left:24vh;
    margin-right:24vh;
    display:flex;
    gap:10px;
}
.main.text{
    flex:auto;
    width:38%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-right:40px;
}
.main.hero{
    font-size:48px;
    font-weight: 1600 !important;;
    color: #f9faf8;
    margin:0;
    padding:0;

}
.main.subtext{
    margin-top:0;
    font-size:18px;
    color:#e5e7eb;

}
.container.one button{
    display:flex;
    padding:10px;
    background-color:#3882f6;
    color:#f9faf8;
    font-weight:800;
    border-radius:12px;
    border:none;
    width:130px;
    justify-content:center;
    font-size:18px;
    margin-top:12px;
}
.image.placeholder{
    display:flex;
    justify-content:center;
    align-items:center;
    flex:auto;
    height:228px;
    width:45%;
    background-color:rgb(109, 109, 122);
    color:#e5e7eb;
    font-size:18px;
    
}
.main.text, .image.placeholder{
    margin-top:100px;
    margin-bottom:120px;
}
/*Cosmetic First Container*/

/*End of First Container Code*/
/*
/*Second Container*/
.container.two{
    display:flex;
    flex-direction:column;
    align-items:center;
}
/*Container holding 4 sub containers*/
.two .main.box.container{
    display:flex;
    justify-content:center;
    gap: 50px;
    margin-bottom:100px;
    margin-top:50px;
}
/*Container holding blue box and subtext*/
.two .sub.box.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 160px;
    padding:0;
    margin:0;
}
/*Individual Blue Box*/
.blue.box{
    border-radius:12px;
    border:4px #3882f6 solid;
    height: 160px;
    width:160px;
}
/*Text under blue box*/
.two .subtext{
    font-size:17px;
    text-align:center;
    color:rgb(86, 86, 87);
    margin-top:10px;
}
/*Text Container at the top*/
.two .header.container{
    margin-top:50px;
    font-size:36px;
    font-weight:1000;
    color:#1F2937;
}
/*Container Three*/
.container.three{
    background-color:#e5e7eb;
    display:flex;
    flex-direction:column;
    align-items:auto;
}
/*Quote of container 3 */
.three .main.quote {
    font-size:36px;
    color:#1F2937;
    margin-left:300px;
    margin-right:300px;
    margin-top:150px;
    font-weight:lighter;
    width: 820px;

}
/*Thor, God of Thunder*/
.quote.author{
    display:flex;
    flex-grow:1;
    font-size:24px;
    font-weight:800;
    margin-left:840px;
    margin-bottom:150px;
}
/*Container Four*/
.container.four{
    display:flex;
    justify-content:start;
    align-items:center;
    padding:100px;
}
/*Container holding container of text and button*/
.four .main.blue.container{
    margin-left:100px;
    margin-right:30px;
    background-color:#3882f6;
    display:flex;
    justify-content:baseline;
    padding:40px;
    border-radius:12px;
    align-items:center;

}
/*Container holding sign up text*/
.four .call.to.action.container{
    padding:0;
    margin-left:50px;
    display:flex;
    flex-direction:column;
    align-items:start;

}
/*Sign up button*/
.signup.button{
    color:#f9faf8;
    font-weight:800;
    font-size:16px;
    height:40px;
    border:2px #f9faf8 solid;
    margin-right:100px;
    border-radius:12px;
    background-color:#3882f6;
    width:130px;
}
/*Big text*/
.action.container .text{
    display:flex;
    padding:0;
    margin:0;
    color:#f9faf8;
}
/*Small text*/
.action.container .subtext{
    margin-top:10px;
    font-size:18px;
    display:flex;
    padding:0;
    margin:0;
    color:#f9faf8
}




